/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-ago-2020, 1:38:36
    Author     : luisy
*/

.card-title{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
}

.h5{
        color: #F4F4F4;
    }
.card-header{
    
}
.card-body{
    
}
.card-footer{
   
}

.a{

}

.container{
    
}
#label{
       color: #F4F4F4;
    }
    
    
.info {
  font-size: 10px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.col-md-6:hover .info {
  visibility: visible;
}