/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-jun-2020, 15:10:28
    Author     : personal
*/


.navbar.navbar-expand-lg.navbar-dark{

    background-color: black;  
}

.container.mt-2 {
    background-color: #000000;
}

.card-footer{
    background-color: black;
}
#lblLanzamiento{
    font-family: Impact;
    color: #fefe22; /*LASER LEMON*/
    font-size:15px;
}

#lblArtista{
    font-family: 'Roboto', sans-serif;
    color:#cccccc; /*LASER LEMON*/
    font-size: 15px;
}

img{
    border: 1px solid;
    border-color: #fefe23;       
}

.card-header{
    background-color: #000000;

}

.fas.fa-cart-plus{
    color: #fefe22;
    size:25px;
}

.fas.fa-compact-disc{
    color: #fefe22;
    size:30px;
}

.fas.fa-record-vinyl {
    color: #fefe22;
    size:30px;
}

.fas.fa-microphone{
    color: #fefe22;
    size:30px;
}

.fas.fa-shopping-cart{
    color: #fefe22;
    size:200px;
    
}

.fas.fa-exchange-alt{
    color: #fefe22;
    size:200px;
}

.far.fa-play-circle{
     color: #fefe22;
    size:200px;
}

#tituloNav{
    font-family: 'Roboto', sans-serif;
    color: #fefe22; /*LASER LEMON*/
    font-size: 50px;
}
.nav-link{
    color: #fefe22;
}

#bodybackground{
    background-color:  #000000;
}

#tituloPaginas{
    font-family: 'Roboto', sans-serif;
    color: #fefe22;
    font-size: 40px;
}
hr{
    border: 2px solid;

    color: #fefe23;
}

form{
    background-color: black;
}

#formtext{
    font-family: 'Roboto', sans-serif;
    color: #fefe22;
    font-size: 15px;
}

.dropdown-menu{
    background-color: black;
}
.dropdown-item{

    font-family: 'Roboto', sans-serif;
    color: #fefe22;
}

h5{
    background-color: black;
    font-family: Impact;
    color: #fefe22; /*LASER LEMON*/
    font-size:20px;
}

#tituloAlbum{
    
    font-family: Impact;
    color: #fefe22; /*LASER LEMON*/
    font-size:40px; 
}

#info{
   
    margin: 70px;
    border: 1px solid #fefe23;
}

#link{
    color: #fefe23;
}

#subtituloAlbum{
    font-family: 'Roboto', sans-serif;
    color: #fefe22;
    font-size:20px;
}

#subtituloInfo{
    font-family: 'Roboto', sans-serif;
    color: #fefe22;
    font-size:15px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1.4fr 1.3fr 1.4fr 1.8fr 1.8fr 1.6fr 1.8fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO" "INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO" "INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO INICIO" "PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL" "PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL" "PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL PRINCIPAL" "NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES" "NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES" "NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES NUEVOS-DISPONIBLES";
}

.NUEVOS-DISPONIBLES { grid-area: NUEVOS-DISPONIBLES; }

.INICIO { grid-area: INICIO; }

.PRINCIPAL {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "INFO INFO SESION" "INFO INFO SESION";
  grid-area: PRINCIPAL;
}

.INFO { grid-area: INFO; }

.SESION { grid-area: SESION; }

#busq{
    
    height:180px; 
    background-color: rgba(254, 254, 35, 0.47);
    border-radius: 5px;
    width :140px;
    
}
#busq:hover{
    background-color: rgb(254, 254, 35);
    font-size: 20px;
}

#padrebusq{
    display: flex;
   align-items: center;
   h2{
       font-size: 13px;
   }
}





