/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-ago-2020, 22:04:04
    Author     : luisy
*/

h2{
    font-family: 'Roboto' , sans-Seriff;
    color: #fefe23;
}

#acerca{
    background-color: #ffffcc;
}

.h7{
    
    font-size: 10px;
    color: #fefe23;
}

.h4{
   
    color: #fefe23;
}

.h5{
    font-family: 'Roboto' , sans-Seriff;
    font-size: 8px;
    color:#fefe23;
    background-color: transparent;
}

#icon{
    color: #fefe23;
}

#img:hover .image{
    opacity: 0.3;
}

#img:hover .image{
    opacity: 1;
}


#padre {
  position: relative;
  width: 50%;
}



.image {
  opacity: 1;
  display: block;
 
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#padre:hover .image {
  opacity: 0.3;
}

#padre:hover .middle {
  opacity: 1;
}

.textoAlbum {
  
  
  font-size: 50px;
  padding: 16px 32px;
}

.far.fa-play-circle{
     color: #fefe22;
    size:200px;
}

.far.fa-pause-circle{
     color: #fefe22;
    size:200px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 0.9fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 0.1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "infousuario infousuario infousuario infousuario infousuario infousuario infousuario" "infousuario infousuario infousuario infousuario infousuario infousuario infousuario" "infousuario infousuario infousuario infousuario infousuario infousuario infousuario" "catalogo catalogo catalogo catalogo catalogo catalogo catalogo" "catalogo catalogo catalogo catalogo catalogo catalogo catalogo" "catalogo catalogo catalogo catalogo catalogo catalogo catalogo" "catalogo catalogo catalogo catalogo catalogo catalogo catalogo";
}

.infousuario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "titulo titulo titulo titulo titulo titulo titulo titulo" "imagen imagen imagen acerca acerca acerca acerca acerca" "imagen imagen imagen acerca acerca acerca acerca acerca" "imagen imagen imagen acerca acerca acerca acerca acerca";
  grid-area: infousuario;
}

.titulo { grid-area: titulo; }

.acerca { grid-area: acerca; }

.imagen { grid-area: imagen; }

.catalogo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "busqueda busqueda busqueda busqueda busqueda" "albumes albumes albumes albumes albumes" "albumes albumes albumes albumes albumes" "albumes albumes albumes albumes albumes" "albumes albumes albumes albumes albumes";
  grid-area: catalogo;
}

.busqueda { grid-area: busqueda; }

.albumes { grid-area: albumes; }